<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th width="20%">Display Text</th>
            <th width="*">Link</th>
            <th width="5%">W1</th>
            <th width="5%">W2</th>
            <th width="5%">W3</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: { data: dataset, as: 'data' }">
        <tr data-bind="css: { 'has-error': data.hasError }">
            <td>
                <div data-bind="text: ThumbnailDisplayText(DisplayText), attr: { title: DisplayText }"> </div>
            </td>
            <td style="text-align:left;">
                <a data-bind="text: ThumbnailLink(Link), attr: { href: Link, title: Link }" target="_blank" class="form-link2"></a>
            </td>
            <td>
                <input type="checkbox" data-bind="checked:MeasureWave1,attr:{id:'MeasureWave1'+$index()}" disabled />
            </td>
            <td>
                <input type="checkbox" data-bind="checked:MeasureWave2,attr:{id:'MeasureWave2'+$index()}" disabled />
            </td>
            <td>
                <input type="checkbox" data-bind="checked:MeasureWave3,attr:{id:'MeasureWave3'+$index()}" disabled />
            </td>
        </tr>
    </tbody>
</table>
