<style type="text/css">
    td {
        position: relative;
        text-align: center;
    }

    .table2 {
        border: 1px solid #333;
        border-spacing: 0px;
        border-collapse: collapse;
        width: 100%;
    }

        .table2 > thead > tr > th, .table2 > tbody > tr > td {
            border: 1px solid #333;
            border-spacing: 0px;
        }

    .div_red {
        border: 1px dashed #333;
        width: 40px;
        margin: 2px auto;
    }

    .div_yellow {
        border: 1px solid #333;
        width: 40px;
        margin: 2px auto;
    }

    .map-description {
        float: right;
        border: 1px #333 solid;
        padding: 0px 10px;
        width: 220px;
    }

        .map-description td {
            height: 56px;
            line-height: 26px;
        }

    .left {
        text-align: left;
    }
</style>

@{
    Layout = "~/Views/Shared/_Layout_Report.cshtml";
}
<div class="main-content">
    <div class="color-content-body-tab">
        <table class="table table2">
            <thead>
                <tr>
                    <th>Student</th>
                    <th>Title1</th>
                    <th>Title2</th>
                    <th>Title3</th>
                    <th>Title4</th>
                    <th>Title5</th>
                    <th>Title6</th>
                    <th>Title7</th>
                    <th>Title8</th>
                    <th>Title9</th>
                    <th>Title10</th>
                    <th>Title11</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>st1</td>
                    <td>12*</td>
                    <td>
                        <div class="div_yellow">6</div>
                    </td>
                    <td>5</td>
                    <td>
                        <div class="div_yellow">5</div>
                    </td>
                    <td>
                        <div class="div_yellow">1</div>
                    </td>
                    <td>
                        <div class="div_yellow">0</div>
                    </td>
                    <td>1*</td>
                    <td>
                        <div class="div_yellow">3</div>
                    </td>
                    <td>
                        <div class="div_red">2</div>
                    </td>
                    <td>
                        <div class="div_yellow">4</div>
                    </td>
                    <td>
                        <div class="div_red">3</div>
                    </td>
                </tr>
                <tr>
                    <td>st2</td>
                    <td>0*</td>
                    <td>-</td>
                    <td>
                        <div class="div_red">3</div>
                    </td>
                    <td>-</td>
                    <td>
                        <div class="div_yellow">4</div>
                    </td>
                    <td>7</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>0*</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>st3</td>
                    <td>
                        <div class="div_red">15</div>
                    </td>
                    <td>
                        <div class="div_yellow">0</div>
                    </td>
                    <td>
                        <div class="div_red">1</div>
                    </td>
                    <td>
                        <div class="div_yellow">0</div>
                    </td>
                    <td>
                        <div class="div_red">3</div>
                    </td>
                    <td>0*</td>
                    <td>0*
                    </td>
                    <td>6
                    </td>
                    <td>
                        <div class="div_red">0</div>
                    </td>
                    <td>25</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>st4</td>
                    <td>5*</td>
                    <td>46*</td>
                    <td>
                        <div class="div_red">2</div>
                    </td>
                    <td>3</td>
                    <td>
                        <div class="div_yellow">1</div>
                    </td>
                    <td>
                        <div class="div_red">25</div>
                    </td>
                    <td>
                        <div class="div_yellow">5</div>
                    </td>
                    <td>7</td>
                    <td>5</td>
                    <td>
                        <div class="div_red">8</div>
                    </td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>st5</td>
                    <td>4</td>
                    <td>-</td>
                    <td>
                        <div class="div_yellow">2</div>
                    </td>
                    <td>89</td>
                    <td>
                        <div class="div_red">5</div>
                    </td>
                    <td>6</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>
                        <div class="div_yellow">6</div>
                    </td>
                    <td>3*</td>
                </tr>
                <tr>
                    <td>st6</td>
                    <td>4</td>
                    <td>34*</td>
                    <td>
                        <div class="div_yellow">2</div>
                    </td>
                    <td>89</td>
                    <td>
                        <div class="div_red">5</div>
                    </td>
                    <td>6</td>
                    <td>1</td>
                    <td>
                        <div class="div_yellow">25</div>
                    </td>
                    <td>
                        <div class="div_red">5</div>
                    </td>
                    <td>
                        <div class="div_yellow">89</div>
                    </td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>st7</td>
                    <td>
                        <div class="div_yellow">4</div>
                    </td>
                    <td>
                        <div class="div_yellow">5</div>
                    </td>
                    <td>
                        <div class="div_yellow">2</div>
                    </td>
                    <td>
                        <div class="div_yellow">89</div>
                    </td>
                    <td>5</td>
                    <td>6</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>89*</td>
                    <td>
                        <div class="div_red">
                            3
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div style="height: 100px">&nbsp;</div>
<div class="map-description">
    <table>
        <tr>
            <td>
                <div class="div_red">1</div>
            </td>
            <td class="left">&nbsp;: Red</td>
            <td style="width: 30px">&nbsp</td>
            <td>
                <div>1*</div>
            </td>
            <td class="left">&nbsp;: Blue</td>
        </tr>
        <tr>
            <td>
                <div class="div_yellow">1</div>
            </td>
            <td class="left">&nbsp;: Yellow</td>
            <td style="width: 30px">&nbsp</td>
            <td>
                <div>1</div>
            </td>
            <td class="left">&nbsp;: Green</td>
        </tr>
    </table>
</div>
