<?xml version="1.0" encoding="utf-8"?>
<!--
您 Web 项目的发布/打包进程将使用此文件。您可以通过编辑此 MSBuild 文件
来自定义该进程的行为。若要了解与此相关的详细信息，请访问 http://go.microsoft.com/fwlink/?LinkID=208121。
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>sso.cliengage.cc</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>localhost</MSDeployServiceURL>
    <DeployIisAppPath>cc.cliengage.sso</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="AdeDbContext" Order="1" Enabled="False">
          <Destination Path="Data Source=JACKZ\MSSQLSERVER2014;Initial Catalog=cliengage-db-dev-assessment;Persist Security Info=True;User ID=sa;Password=jacK1234" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Sunnet.Cli.Core.AdeDbContext, Sunnet.Cli.Core" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="MainDbContext" Order="2" Enabled="False">
          <Destination Path="Data Source=JACKZ\MSSQLSERVER2014;Initial Catalog=cliengage-db-dev;Persist Security Info=True;User ID=sa;Password=jacK1234" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Sunnet.Cli.Core.MainDbContext, Sunnet.Cli.Core" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="OrderDbContext" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.1.45;Initial Catalog=CLI;Persist Security Info=True;User ID=sa;Password=sunneT2009" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\OrderDbContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=192.168.1.45;Initial Catalog=CLI;Persist Security Info=True;User ID=sa;Password=sunneT2009" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="VcwDbContext" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Sunnet.Cli.Core.VcwDbContext, Sunnet.Cli.Core" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AdeDbContext-Web.config Connection String">
      <ParameterValue>Data Source=JACKZ\MSSQLSERVER2014;Initial Catalog=cliengage-db-dev-assessment;Persist Security Info=True;User ID=sa;Password=jacK1234</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MainDbContext-Web.config Connection String">
      <ParameterValue>Data Source=JACKZ\MSSQLSERVER2014;Initial Catalog=cliengage-db-dev;Persist Security Info=True;User ID=sa;Password=jacK1234</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)OrderDbContext-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)VcwDbContext-Web.config Connection String" />
  </ItemGroup>
</Project>