@model string
@{
}

@if (string.IsNullOrEmpty(Model))
{
    <label class="control-label-text">
        <span style="display: none;">wave</span>
    </label>
}
else
{
    <label class="control-label-text">
        <a href="mailto:@Model">@Model</a>
    </label>
}

