<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  
  <!--数据库连接设置-->
  <connectionStrings>
    <add name="MainDbContext" connectionString="Data Source=192.168.1.7\sql2012;Initial Catalog=Cli_Engage_TxKea;Persist Security Info=True;User ID=sa;Password=sunneT2009" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <appSettings>
    <!-- 运行间隔(分钟,默认为20分钟)-->
    <add key="ExecutionTimeInterval" value="20" />

    <!-- Debug:启用本地调试模式，否则启用Windows服务(Service)运行模式 -->
    <add key="RunningMode" value="WindowService" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.net>
    <mailSettings>
      <smtp from="xujingfei123@163.com">
        <network host="smtp.163.com" password="xjf456xjf456" userName="xujingfei123@163.com" defaultCredentials="false" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>