<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th width="20%">Display Text</th>
            <th width="*">Link</th>
            <th width="15%" colspan="3">On measure Parent email</th>
            <th width="15%" colspan="3">On Student Parent report</th>
            <th width="18%">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td width="20%"></td>
            <td width="*"></td>
            <td width="5%"> W1</td>
            <td width="5%"> W2</td>
            <td width="5%"> W3</td>
            <td width="5%"> W1</td>
            <td width="5%"> W2</td>
            <td width="5%"> W3</td>
            <td width="18%"></td>
        </tr>
        <!-- ko foreach:{data:dataset, as: 'data'} -->
        <tr data-bind="css: { 'has-error': data.hasError }">
            <td>
                <label class="hide" data-bind="attr: { for: 'DisplayText' + $index() }">DisplayText</label>
                <input type="text" name="DisplayTexts" class="form-control input-sm"
                       data-bind="value: DisplayText, attr: { id: 'DisplayText' + $index() }" maxlength="500"
                       style="display: inline-block;" />
            </td>
            <td>
                <label class="hide" data-bind="attr: { for: 'Link' + $index() }">Link</label>

                <input type="text" name="links" class="form-control input-sm"
                       data-bind="value: Link, attr: { id: 'Link' + $index() }" maxlength="500"
                       style="display: inline-block;">
            </td>
            @*<td>
                    <label class="hide" data-bind="attr: { for: 'Status' + $index() }">Status</label>
                    <select name="Statuses" class="form-control input-sm" style="display: inline-block;" data-bind="value: Status.value, attr: { id: 'Status' + $index() }">
                        <option value="1">Active</option>
                        <option value="2">Inactive</option>
                    </select>
                </td>*@
            <td>
                <label class="hide" data-bind="attr:{for:'MeasureWave1'+$index()}">MeasureWave1</label>
                <input type="checkbox" data-bind="checked:MeasureWave1,attr:{id:'MeasureWave1'+$index()}"/>
            </td>
            <td>
                <label class="hide" data-bind="attr:{for:'MeasureWave2'+$index()}">MeasureWave2</label>
                <input type="checkbox" data-bind="checked:MeasureWave2,attr:{id:'MeasureWave2'+$index()}" />
            </td>
            <td>
                <label class="hide" data-bind="attr:{for:'MeasureWave3'+$index()}">MeasureWave3</label>
                <input type="checkbox" data-bind="checked:MeasureWave3,attr:{id:'MeasureWave3'+$index()}" />
            </td>
            <td>
                <label class="hide" data-bind="attr:{for:'StudentWave1'+$index()}">StudentWave1</label>
                <input type="checkbox" data-bind="checked:StudentWave1,attr:{id:'StudentWave1'+$index()}" />
            </td>
            <td>
                <label class="hide" data-bind="attr:{for:'StudentWave2'+$index()}">StudentWave2</label>
                <input type="checkbox" data-bind="checked:StudentWave2,attr:{id:'StudentWave2'+$index()}" />
            </td>
            <td>
                <label class="hide" data-bind="attr:{for:'StudentWave3'+$index()}">StudentWave3</label>
                <input type="checkbox" data-bind="checked:StudentWave3,attr:{id:'StudentWave3'+$index()}" />
            </td>
            <td>
                <a href="#" class="table-btn icon-plus plus-btn" data-bind="event: { click: $root.newData }" title="New"><span style="display:none">New</span></a>
                <a href="#" class="table-btn icon-minus minus-btn" data-bind="event: { click: $root.delete }" title="Delete"><span style="display:none">Delete</span></a>
                <a class="table-btn icon-zoom-in preview-btn" data-bind="visible: Link != '', attr: { href: Link }"
                   target="_blank" title="Preview"><span style="display:none">Preview</span></a>
            </td>
        </tr>
        <!-- /ko -->
    </tbody>
</table>
