@charset "utf-8";
/* CSS Document */

body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, form, img, dl, dt, dd, table, th, td, blockquote, fieldset, div, strong, label, em {
	margin: 0;
	padding: 0;
	border: 0;
}
input, button {
	margin: 0;
	padding: 0;
	list-style-type: none;
	background: none;
	border: 0;
}
input::-ms-clear {
    display: none;
}
a {
	outline: none;
	text-decoration: none;
	color: #333;
}
a:hover {
	color: #7eb530;
	outline: none;
	text-decoration: none;
}
ul, li, ol {
	margin: 0;
	padding: 0;
	list-style: none;
}
img {
	margin: 0;
	padding: 0;
	border: none;
	line-height: normal;
	vertical-align: middle;
}
body {
	background-color: #f4f4f4;
	font-family: Helvetica, Arial, sans-serif;
}

th>div {
    width: auto;
    white-space: nowrap;
    min-width: 70px;
}

/*---------------Begin button-----------------*/

.mainbutton {
	padding: 7px 15px;
	background-color: #CCC;
	color: #fff;
}

a.mainbutton:hover,a.mainbutton:focus {
    text-decoration: none;
    color: #000;
}
a.mainright-btn:hover,a.mainright-btn:focus {
    text-decoration: none;
    color: #fff;
}
a.modal-btn:hover,a.modal-btn:focus {
    text-decoration: none;
    color: #fff;
}
.disabled {
    background-color: #bbb;
    cursor: default;
}
.disabled:hover {
    background-color: #bbb;
}
.comment-btn, .clip-btn, .video-btn, .permission-btn, .teacher-btn, .community-btn, .assign2-btn
{
	background-color: #1bbbb9;
}
.comment-btn:hover, .clip-btn:hover, .video-btn:hover, .permission-btn:hover, .teacher-btn:hover, .community-btn:hover, .assign2-btn:hover
{
	background-color: #2a9e9d;
}
.close-btn, .trash-btn, .contact-sumbit, .btn-danger
{
	background-color: #d13f48;
}
.close-btn:hover, .trash-btn:hover, .contact-sumbit:hover, .btn-danger:hover
{
	background-color: #e75d4b;
}
.backhome-btn
{
    background-color:#7eb530
}
.backhome-btn:hover
{
    background-color:#94c500
}
.pass-btn
{
    background-color:#0379a1
}
.pass-btn:hover
{
    background-color:#22a7d3
}

.update-btn, .create-btn, .plus-btn, .ok-btn, .view-btn, .nav-btn, .try-btn, .equipment-btn, .preview-btn, .search-btn, .sreach-btn, .start-btn,.search-bg-btn , .assign3-btn
{
	background-color: #247432;
}
.radio-btn {
    background-color: #ffffff;
    border-radius: 0px;
}
 .update-btn:hover, .create-btn:hover, .plus-btn:hover, .ok-btn:hover, .view-btn:hover, .nav-btn:hover, .try-btn:hover,
  .equipment-btn:hover, .preview-btn:hover, .search-btn:hover, .sreach-btn:hover, .start-btn:hover,.search-bg-btn:hover, .assign3-btn:hover
{
	background-color: #02861a;
}
.save-btn, .submit-btn, .minus-btn, .question-btn, .transaction-btn, .feature-btn, .viewcomment-btn
{
	background-color: #1a7c9d;
}
.save-btn:hover, .submit-btn:hover, .minus-btn:hover, .question-btn:hover, .transaction-btn:hover, .feature-btn:hover, viewcomment-btn:hover
{
	background-color: #1b9cc7;
}
.cancel-btn, .pencil-btn, .message-btn, .download-btn, .active-btn, .stop-btn, .class-btn, .assign-btn
{
	background-color: #a74e00;
}
.cancel-btn:hover, .pencil-btn:hover, .message-btn:hover, .download-btn:hover, .active-btn:hover, .stop-btn:hover, .class-btn:hover, .assign-btn:hover
{
	background-color: #ba5a03;
}
.inactive-btn {
    background-color: #ccc;
}

.unchecked-btn { background-color: #fff;border: 1px #ddd solid;color: #333;}

.checked-btn { background-color: #247432; color: #fff;}
.id-btn{ background-color: #2c1fa7; color: #fff;}
.id-btn:hover{ background-color: #463abb; color: #fff;}

/*---------------END button-----------------*/

/*--------------Begin textcolor--------------*/
.redtext { color:#C30; }
/*--------------End textcolor-----------*/
