/*--------------Begin Logup -----------------*/

.logup-right::-webkit-input-placeholder { /* WebKit browsers */
 color:    #999;
}
.logup-right:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
 color:    #999;
}
.logup-right::-moz-placeholder { /* Mozilla Firefox 19+ */
 color:    #999;
}
.logup-right:-ms-input-placeholder { /* Internet Explorer 10+ */
 color:    #999;
}

.form-control {
	border-radius: 3px;
}
.loginup-link {
	color: #42b357;
	text-decoration: underline;
}



.main-con h3 {
	text-align: center;
	color: #333;
    margin-bottom: 20px;
}



.main-con p {
	display: block;
	line-height: 22px;
	margin-top: 20px;
}
.main-con h3 b {
	color: #42b357;
	font-weight: normal;
}
.signup-text {
    width: 900px;
    margin: 0 auto;
}
.signup-text h4 {
    color: #018a01;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
}
.signup-text p {
    font-size: 14px;
    line-height: 16px;
    color: #666;
}
.logup-tip {
    position: absolute;
    color: #a94442;
}
.logup-tip i {
    margin-right: 5px;
}
.logbtn-con {
    text-align: center;
    margin-top: 20px;
}
.logbutton {
    display: inline-block;
	padding: 8px 65px;
	color: #fff;
    margin: 0 auto;
    margin: 0 10px;
}
.logbutton:hover {
	color: #fff;
}

.logup-select {
    width: 900px;
    margin: 0px auto;
    text-align: center
}
.logup-select ul li {
    width: 250px;
    height: 40px;
    margin: 30px 10px;
    display: inline-block;
}

.logup-select ul li a {
    display: inline-block;
    background-color: #41b357;
    text-align: center;
    line-height: 56px;
    color: #ffffff;
    box-shadow: 0 3px 0 #d5d5d5;
    cursor: pointer;
}
.logup-select ul li a:hover {
    background-color: #32a447;
}
.logup-select-txt {
    min-width: 215px;
    height: 56px;
    float: left;
}
.logup-select-icon {
    width: 35px;
    height: 56px;
    float: left;
}



.modal-dialog {
    width: 800px;
    margin: 30px auto;
}
.modal-dialog-sm {
    width: 500px;
    margin: 30px auto;
}
.modal-dialog-login {
    width: 600px;
    text-align: center;
    padding: 40px;
}
.modal-login-header {
    
}

.modal-dialog-login .modal-header {
    height: 120px;
    border: 0px;
}
.modal-dialog-login .modal-login-body {
    text-align: left;
}

.modal-login-header h3 {
    margin-top: 15px;
    color: #018a01;
    font-size: 22px;

}
.modal-login-header h3 img {
    
}

.modal-login-header .g-in-btn {
    margin: 0;
    padding: 10px 40px;
    color: #ffffff;
    background-color: #d13f48;
    cursor: pointer;
    margin-top: 10px;
    font-weight: bold;
    float: none;
}
.modal-login-header .g-in-btn:hover {
    background-color: #e75d4b;
    border: 1px solid #ff4500;
}
.modal-login-header .g-in-btn i {
    
    padding: 5px;
    border-radius: 20px;
    background-color: #fff;
    color: #e75d4b;
    margin-right: 15px;
}
.modal-login-body {
    text-align: center;
    border: 2px solid #eee;
    border-radius: 10px;
    background-color: #f5f5f5;
    padding:10px 20px;
}
.modal-login-body p {
    margin: 10px 0;
    font-size: 13px;
}
.modal-dialog-login .modal-main-content {
    padding-top: 10px;
}

.modal-login-body .login-text-link {
    margin: 0;
    padding: 0;
    color: #007699;
    background-color: #f5f5f5;  
    display:inline;
    border: 0px;
    float: none;
}
.modal-login-body .login-text-link:hover {
    border: 0px;
    background-color: #f5f5f5;
    color: #3db0c8;
}
.modal-login-footer .login-text-link:hover {
    border: 0px;
    background-color: #3fa94d;
    color: #fff;
}
.modal-login-footer .login-text-link{
    margin: 0;
    padding: 0;
    color: #ffffff;
    padding: 1px 5px;
    border-radius: 5px;
    background-color: #018a01;  
    display:inline;
    border: 0px;
    float: none;
}
.modal-login-footer {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 13px;
}




/*
*login-admin
*/
.login-admin h4 {
    color: #fff;
}


/* 2017/02/06 */
.parent-top{
    margin-bottom:40px;
}
.parent-top h3{
    font-size:32px;
    text-align:left;
    color:#D51B27;
}
.parent-top-first b,.parent-top-last b{
    display:inline-block;
    font-size:18px;
    margin-right:10px;
    float:left;
}
.parent-top-first span,.parent-top-last span{
    display:inline-block;
    color:#D51B27;
    float:left;
    width:80%;
}
.parent-top-last{
    margin-top:10px !important;
}
.parent-top-last b{
    margin-right:5px;
    font-size:16px;
}
.parent-top-last span{
    width:70%;
    color:black;
}
.parent-if{
    font-style:italic;
    font-size:16px;
}
/* 2017/02/06 end */

/*--------------End Logup ------------------*/