.main-container {
    margin: 0 auto;
    width: 95%;
}

.modal-dialog-login {
    padding: 40px;
    text-align: center;
    width: 600px;
}

.modal-login-header h3 {
    color: #018a01;
    font-size: 22px;
    margin-top: 15px;
}

.modal-login-header .g-in-btn {
    background-color: #d13f48;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    float: none;
    font-weight: bold;
    margin: 0;
    margin-top: 10px;
    padding: 10px 40px;
}

.modal-login-header .g-in-btn:hover {
    background-color: #e75d4b;
    border: 1px solid #ff4500;
}

.modal-login-header .g-in-btn i {
    background-color: #fff;
    border-radius: 20px;
    color: #e75d4b;
    margin-right: 15px;
    padding: 5px;
}

.modal-login-body .login-text-link:hover {
    background-color: #f5f5f5;
    border: 0px;
    color: #3db0c8;
}

.modal-login-footer .login-text-link:hover {
    background-color: #3fa94d;
    border: 0px;
    color: #fff;
}

.modal-login-footer .login-text-link {
    background-color: #018a01;
    border: 0px;
    border-radius: 5px;
    color: #ffffff;
    display: inline;
    float: none;
    margin: 0;
    padding: 0;
    padding: 1px 5px;
}

.modal-login-body .login-text-link {
    background-color: #f5f5f5;
    border: 0;
    color: #007699;
    display: inline;
    float: none;
    margin: 0;
    padding: 0;
}

.menu-left-hint {
    background: #ffffff;
    border-bottom: 1px dashed #ddd;
    /*border: 2px #32a447 solid;*/
    /*border-radius: 10px;*/
    /*box-shadow: 0 5px 0 #d5d5d5;*/
    color: #2D8401;
    display: inline-block;
    margin-left: 10px;
    padding: 10px 0px 20px;
}

.menu-left-hint li {
    display: inline-block;
    float: left;
    font-size: 12px;
    line-height: 16px;
    padding: 10px;
    width: auto;
}

.menu-left-hint li a {
    color: #ffffff;
    cursor: default;
    display: inline-block;
    height: 23px;
    margin: 0px;
    margin-bottom: 5px;
    margin-left: 0px;
    margin-right: 10px;
    padding: 4px 6px;
    width: 23px;
}

tr:last-child td.fixed-column {
    border-bottom: 1px solid #ddd;
    height: 43px;
}

.offline-title-pin {
    color: #2d6ca2;
    display: inline-block;
    font-weight: bold;
    text-align: center;
    width: 100%;
}
.offline-title-content {
    font-size: 14px;
    font-weight: bold;
}
.offline-title-item {
    display: inline-block;
    text-indent: 20px;
}
.offline-title-item:before {
    content: "\00B7"
}