.main-con-right {
    margin: 20px auto 0;
    width: 1200px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 0 #d5d5d5;
    float: none;
    min-height: 600px;
    display: block;
}



/*
trs-report
*/
.trs-report {
    width: 850px;
    margin: 0 auto;
    font-size: 14px;
    font-family: Helvetica, sans-serif;
}

    .trs-report table {
        width: 100%;
        position: relative;
    }

    .trs-report tr th {
        text-align: center;
    }

    .trs-report table tr td table tr td {
        height: 24px;
    }

    .trs-report table tr td label {
        border-bottom: 0px #333 solid;
    }

.trs-report-header {
    line-height: 60px;
    height: 60px;
    text-align: center;
    width: 100%;
}

.trs-report-header {
    text-align: center;
    position: relative;
    font-family: Georgia;
    font-size: 20px;
}

.trs-table-t-con {
    border-left: 1px #333 solid;
    border-top: 1px #333 solid;
}

    .trs-table-t-con tr th {
        border-top: 1px #333 solid;
        border-left: 1px #333 solid;
        padding: 5px;
    }

    .trs-table-t-con tr td {
        border-bottom: 1px #333 solid;
        border-right: 1px #333 solid;
        padding: 5px;
    }

.logo {
    vertical-align: middle;
    width: 150px;
    top: 10px;
    right: 0;
    float: right;
    position: absolute;
}

.trs-report-result {
    border: 2px #333 solid;
    padding: 10px;
}

.trs-report-result {
    text-align: center;
}

.trs-report-result-star span {
    color: #d2691e;
    width: 80px;
    display: inline-block;
}

.trs-report-result-star-t {
    font-size: 16px;
    font-weight: bold;
}

.trs-report a {
    color: #1e90ff;
}

.trs-report input {
    border: 0;
    border-bottom: 0px #333 solid;
}

.trs-note {
    color: red;
}

.trs-table-tittle-h {
    font-weight: bold;
    color: #666;
}

.trs-table-tittle {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.trs-table-tittle-t {
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    border-right: 1px #333 solid;
    border-bottom: 1px #333 solid;
}

.panel-heading.trs-completed, .trs-completed {
    color: #3b9e0e;
    background: #d4f7c5;
}

.panel-heading.trs-partial, .trs-partial {
    color: #bb1c0a;
    background: #f6dad7;
}


.trs-table-f {
    border-top: 1px #333 solid;
    border-left: 1px #333 solid;
}

    .trs-table-f tr th {
        border-bottom: 1px #333 solid;
        border-right: 1px #333 solid;
        padding: 5px;
        text-align: left;
        padding: -1px;
    }

    .trs-table-f tr td {
        border-bottom: 1px #333 solid;
        border-right: 1px #333 solid;
        padding: 5px;
    }

.trs-table-m {
    font-size: 15px;
}

    .trs-table-m tr {
        height: 33px;
    }

.backlink {
    /*background: url(../images/icon_trs.png) 5px center no-repeat;
    padding-left: 50px;*/
    color: #5b2689;
}

    .backlink a {
        color: #5b2689;
    }

        .backlink a:hover {
            color: #da70d6;
        }

.preview {
    background: url('/Content/images/preview_bg.png');
}

.redtext {
    color: #FF6374;
    font-size: 15px;
}

/*
End
*/
