.colorpicker-custom {
    width: 80px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
}

.content-body {
    padding-bottom: 30px;
}

.setSize {
    position: fixed;
    top: 200px;
    left: 200px;
    width: 120px;
    display: none;
    z-index: 100;
    background: #f5f5f5;
    border: 1px solid #8db3e2;
}

    .setSize span {
        width: 0;
        height: 0;
        font-size: 0;
        overflow: hidden;
        position: absolute;
    }

.setSizeInput {
    width: 55px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
}

.setSizeDiv {
    height: 35px;
    padding-left: 5px;
}

.setSizeCloseDiv {
    height: 24px;
}

.closeSize {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    font-size: 21px;
}

.arrow-left-bot {
    width: 0px;
    height: 0px;
    border: 10px solid;
    border-color: transparent #8db3e2 transparent transparent;
    left: -20px;
    top: 30px;
}

.arrow-left-top {
    width: 0px;
    height: 0px;
    border: 10px solid;
    border-color: transparent #f5f5f5 transparent transparent;
    left: -19px;
    top: 30px;
}

.arrow-right-bot {
    width: 0px;
    height: 0px;
    border: 10px solid;
    border-color: transparent transparent transparent #8db3e2;
    right: -20px;
    top: 30px;
}

.arrow-right-top {
    width: 0px;
    height: 0px;
    border: 10px solid;
    border-color: transparent transparent transparent #f5f5f5;
    right: -19px;
    top: 30px;
}

.bgfillcolor {
    width: 80px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
}

.div-canvas {
    min-height: 600px;
    padding-bottom: 30px;
}

.item-fullscreen-head {
    height: 30px;
}

/* Fullscreen */
.content-body:-moz-full-screen {
    background: black;
    position: absolute;
    top: 50%;
    margin-top: -274px; /* totalHeight/2 */
}

.content-body:-ms-fullscreen {
    background: black;
    position: absolute;
    top: 50%;
    margin-top: -274px;
}

ul.itemProcess {
    list-style: none;
    margin: 0;
    padding: 0;
}

    ul.itemProcess li.completed1 {
        background-image: url(/Content/images/status/1_1.png);
    }

        ul.itemProcess li.completed2 {
        background-image: url(/Content/images/status/2_2.png);
    }

            ul.itemProcess li.completed3 {
        background-image: url(/Content/images/status/3_3.png);
    }

                ul.itemProcess li.completed4 {
        background-image: url(/Content/images/status/4_4.png);
    }


    ul.itemProcess li.completedtext {
        color: #6ca632;
        border-bottom: 3px solid #6ca632;
    }

    ul.itemProcess li.processtext {
        padding: 0px 10px;
        text-align: center;
        margin-top: 3px;
        width: 120px;
    }

    ul.itemProcess li {
        float: left;
    }

        ul.itemProcess li.nofinishtext {
            color: #b3b3b3;
            border-bottom: 3px solid #b3b3b3;
        }

        ul.itemProcess li.nofinish1 {
            background-image: url(/Content/images/status/1.png);
        }
        ul.itemProcess li.nofinish2 {
            background-image: url(/Content/images/status/2.png);
        }
        ul.itemProcess li.nofinish3 {
            background-image: url(/Content/images/status/3.png);
        }
        ul.itemProcess li.nofinish4 {
            background-image: url(/Content/images/status/4.png);
        }

        ul.itemProcess li.roundicon {
            width: 55px;
            height: 55px;
        }

.shortCol2 {
    width: 13%;
}

.noPadding {
    width: 27%;
    padding-left: 0px;
}

.smalColumn {
    width: 14%;
}


.processTitle {
    padding-left: 82px;
}

.processBar {
    padding-left: 50px;
    padding-right: 50px;
}

.processDescription {
    padding: 0px 10px;
    text-align: center;
    margin-top: -10px;
    border-bottom: none;
}

.processCompletedDesc {
    color: #247432;
}

.divPorcessBar {
    height: 20px;
    margin-top: 10px;
}
