@using Sunnet.Cli.UIBase.Models
@{
    ViewBag.Title = "Engage Demos";
    ViewBag.CurrentMenu = Cli_Menus.EngageDemos;
}
@section Banner
{
    <div class="container">
    <div class="banner-pages">
        <h1>@ViewBag.Title</h1>
    </div>
</div>
}
<div class="left-container">
    <h3>CLI Engage</h3>
    <p>
        CLI Engage is a comprehensive professional development and progress monitoring system for pre-k teachers in Texas public schools.  The system includes professional development resources and child progress monitoring tools to help teachers improve their instructional practices in the classroom and be more responsive to the specific needs of the children in their classrooms.  The professional development and child progress monitoring tools were initially developed for the <a class="main-a" href="http://www.texasschoolready.org/"  target="_blank"><i>Texas School Ready! Project</i></a>, and are now available to all pre-k teachers in Texas public school through CLI Engage.  
    </p>
</div>
<div class="demos-container left-container">
    <p>Learn more about each of these great resources below. Stay tuned for video links to view a demonstration of the tools and to access a sample of the tools on your own.</p>
    <ul>
        <li>
            <span>
                <h4>eCIRCLE</h4>
<!---<a class="redbtn try-btn mainbutton" href="#">Try It Now</a>
    <a class="greenbtn video-btn mainbutton" target="_blank" href="http://www.youtube.com/watch?v=KflPfzNFW-A&feature=share&list=UU_HlAYPlceEzrnsZL6G6WSQ">Video</a>
--->
</span>
            <p>eCIRCLE represents more than 100 hours of online courses featuring extensive video-based demonstrations of effective instructional practices and application-based assignments and activities in language and literacy, mathematics, and science. </p>
        </li>
        <li>
            <span>
                <h4>BEECH </h4>
<!---<a class="redbtn try-btn mainbutton" href="#">Try It Now</a>
    <a class="greenbtn video-btn mainbutton" target="_blank" href="http://www.youtube.com/watch?v=KflPfzNFW-A&feature=share&list=UU_HlAYPlceEzrnsZL6G6WSQ">Video</a>
--->
</span>
            <p>BEECH is a professional development system specifically designed for home-based child care providers.  Using videos, images, and real-life home scenarios in an online system, the BEECH courses provide child development information and classroom management skills for home-based providers.</p>
        </li>
        <li>
            <span>
                <h4>CIRCLE ASSESSMENT SYSTEM</h4>
<!---<a class="redbtn try-btn mainbutton" href="#">Try It Now</a>
    <a class="greenbtn video-btn mainbutton" target="_blank" href="http://www.youtube.com/watch?v=KflPfzNFW-A&feature=share&list=UU_HlAYPlceEzrnsZL6G6WSQ">Video</a>
--->
</span>
            <p>
                The CIRCLE Assessment System, CLI’s child progress monitoring system, is a user-friendly, technology-driven tool that allows the teacher to assess a child’s progress in a particular skill area almost instantly. This reliable yet simplistic data collection prompts teachers to focus on lessons that target their students’ least developed skill areas.  (Formerly known as C-PALLS+.)
            </p>
        </li>
        <li>
            <span>
                <h4>COT</h4>
<!---<a class="redbtn try-btn mainbutton" href="#">Try It Now</a>
    <a class="greenbtn video-btn mainbutton" target="_blank" href="http://www.youtube.com/watch?v=KflPfzNFW-A&feature=share&list=UU_HlAYPlceEzrnsZL6G6WSQ">Video</a>
--->
</span>
            <p>The Classroom Observation Tool uses snapshots of a teacher’s behavior and instruction during classroom observation visits that can be used to develop improvement plans and track a teacher’s progress over time.</p>
        </li>
        <li>
            <span>
                <h4>CIRCLE Online</h4>
<!---<a class="redbtn try-btn mainbutton" href="#">Try It Now</a>
    <a class="greenbtn video-btn mainbutton" target="_blank" href="http://www.youtube.com/watch?v=KflPfzNFW-A&feature=share&list=UU_HlAYPlceEzrnsZL6G6WSQ">Video</a>
--->
</span>
            <p>
                A collection of targeted classroom activities and video demonstrations of effective instruction, the Online CIRCLE Library bridges the research to practice gap in language and literacy, mathematics, and social and emotional skills. Educators are referred to specific Library activities based on child progress 
monitoring results in order to strengthen specific student skills. Users are also free to explore the Library on their own.
            </p>
        </li>
        <li>
            <span>
                <h4>Developing Talkers Training </h4>
<!---
    <a class="greenbtn video-btn mainbutton" target="_blank" href="http://www.youtube.com/watch?v=KflPfzNFW-A&feature=share&list=UU_HlAYPlceEzrnsZL6G6WSQ">Video</a>
--->
</span>
            <p>
                <i>Developing Talkers</i> and <i>Hablemos Juntos</i> are curriculum supplements to promote oral language that follow a Pre-Kindergarten Response to Intervention (P-RTI) instructional framework. Specifically, listening comprehension and vocabulary skills are targeted in the book reading context by providing lessons, 
materials, and an instructional template to develop and strengthen children’s oral language skills.
            </p>
        </li>
        <li>
            <span>
                <h4>Infant, Toddler, and Three-Year-Old Early Learning 
Guidelines Training</h4>
<!---
    <a class="greenbtn video-btn mainbutton" target="_blank" href="http://www.youtube.com/watch?v=KflPfzNFW-A&feature=share&list=UU_HlAYPlceEzrnsZL6G6WSQ">Video</a>
--->
</span>
            <p>
                The Infant, Toddler, and Three-Year-Old Early Learning Guidelines Training provides introductory 
                information on <a class="main-a" href="http://www.littletexans.org/"  target="_blank">The Texas Infant, Toddler, and Three-Year-Old Early Learning Guidelines</a>.
            </p>
        </li>
    </ul>
</div>
