@{
    var waves = new List<Wave>() { Wave.BOY, Wave.MOY, Wave.EOY };
}

<div class="form-group">
    <div class="nav-tab">
        <div id="myTabContent" class="tab-content term-content-con">
            <div class="tab-pane fade active in term-main-con1" id="content1">
                <!-- ko if:$root.haveScores() -->
                <div class="term-content" id="divCustomScores" style="display:none">
                    <div class="form-group">
                        <div class="col-sm-12" data-bind="click: $root.selectAllScores">
                            <a class="term-group-t">
                                <p>
                                    <span class="body">Custom Scores</span>
                                    <span class="select">
                                        <i data-bind="css: { 'icon-check': $root.allScoreSelected(), 'icon-check-empty': !$root.allScoreSelected() }"></i>
                                        Select All Custom Scores
                                    </span>
                                </p>
                            </a>
                        </div>
                    </div>
                    <div class="form-group">
                        <!-- ko foreach:{data:scores,as:'score'}-->
                        <div class="col-sm-3">
                            <a class="term-contents" data-bind="attr: { title: ScoreName }, css: { 'term-1': IsSlected }, click: $root.scoreClick">
                                <text data-bind="html: ' ' + score.ScoreDomain"></text>
                            </a>
                        </div>
                        <!-- /ko-->
                    </div>
                </div>
                <!-- /ko -->
                <!-- ko foreach:{data:assessment().groups,as:'group'}-->
                <!-- ko if: group.visible[1] === true -->
                <div class="term-content">
                    <!-- ko if: group.parent != null -->
                    <div class="form-group">
                        <div class="col-sm-12" data-bind="click: $root.assessment().chooseGroup">
                            <a class="term-group-t">
                                <p data-bind="attr: { title: group.parent.name }">
                                    <span data-bind="html: group.parent.name" class="body"></span>
                                    <span class="select"><i data-bind="css: { 'icon-check': allSelected[1](), 'icon-check-empty': !allSelected[1]() }"></i>Select All Measures</span>
                                </p>
                            </a>
                        </div>
                    </div>
                    <!-- /ko-->
                    <div class="form-group">
                        <!-- ko foreach:{data:group.measures,as:'measure'}-->
                        <div class="col-sm-3" data-bind="attr: { isRank: measure.PercentileRank ? 1 : 0, name: 'test1' }, visible: applyToWave.indexOf($root.assessment().selectedWave()) >= 0">
                            <a class="term-contents" data-bind="attr: { title: measure.name }, css: { 'term-1': selectedWaves().indexOf(1) >= 0 }, click: function (measure, event) { $root.assessment().chooseMeasure(measure, $parent); }">
                                <text data-bind="html: ' ' + measure.name"></text>
                                <span data-bind="html: ' ' + measure.otherInfo, visible: measure.otherInfo != null">
                                </span>
                            </a>
                        </div>
                        <!-- /ko-->
                    </div>
                </div>
                <!-- /ko-->
                <!-- /ko-->
            </div>
        </div>
    </div>
</div>