@{
    Layout = null;
}
<style type="text/css">
    .txkeaImage {
        display: -webkit-flex; /* Safari */
        display: flex;
        /*flex-wrap: wrap;*/
        justify-content: space-around;
        align-items: center;
        /*height:130px;*/
    }

    .txkeaImageItem {
        /*flex-shrink: 1;*/
        border: 0px solid #ddd;
        height: 40px;
        width: 50px;
        margin-bottom: 2px;
        margin-top: 2px;
        /*flex-basis: 120px;*/
    }

    @@media (max-width:1000px) {
        .item-container {
            width: 900px;
        }
    }
</style>
<script type="text/html" id="Temp_Empty">
</script>
<script type="text/html" id="_cpalls_measure_List">
    <div class="item-view">
        <div class="items-thumb-list" data-bind="css: { 'col-2': false }">
            <!-- ko template: {name:$root.itemResultTemplate,foreach:items,as:'item'}-->
            <!--/ko-->
            <div class=" header-th">
                <div class="text" data-bind="html: 'Comment: ' + comment()" style=""></div>
                @*<div class="totalscore" style="width:17%;">
                        Score:
                    </div>*@
                <div class="score" data-bind="text: goal()" style="width:80px;">
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/html" id="_cpalls_ItemHeader_10">
    <div class="header-th">
        <div class="prefix" style="width:50px;"></div>
        <div class="text" style="">
            <span>Prompt</span>
        </div>
        <div class="item" style="width:42%">
            <span>Response</span>
        </div>
        <div class="score" style="width:80px;">
            <span>Score</span>
        </div>
    </div>
</script>
<script type="text/html" id="_cpalls_ItemResult_10">
    <!--Checklist:10-->
    <!-- ko if:item.showInResultPage() -->
    <!-- ko template: {name:$root.getHeaderTemplate.bind($parent)}-->
    <!--/ko-->
    <div data-bind="visible: item.showInResultPage" class="hideOrder">
        <!-- ko if:$parent.isTxkea-->
        <div class="prefix" style="width:50px;"><span data-bind="html: resultIndex + '.'"></span></div>
        <!--/ko-->
        <!-- ko ifnot:$parent.isTxkea-->
        <div class="prefix" style="width:50px;"><span data-bind="html: resultIndex + '.'"></span></div>
        <!--/ko-->
        <div class="text" style="">
            <span data-bind="html: target.text"></span>
        </div>
        <div class="item" style="width:42%;" data-bind="foreach: { data: answers, as: 'answer' }">
            <!-- ko if:choosed()-->
            <div><span data-bind="html: text.text"></span></div>
            <!--/ko-->
        </div>
        <div class="score" style="width:80px;">
            <span data-bind="html: goal()"></span>
        </div>
    </div>
    <!--/ko-->
</script>

<script type="text/html" id="_cpalls_ItemHeader_1">
    <!--Cec:1-->
</script>
<script type="text/html" id="_cpalls_ItemResult_1">
    <!--Cec:1-->
</script>

<script type="text/html" id="_cpalls_ItemHeader_2">
    <!--Cot:2-->
</script>
<script type="text/html" id="_cpalls_ItemResult_2">
    <!--Cot:2-->
</script>

<script type="text/html" id="_cpalls_ItemHeader_9">
    <!--Direction:9-->
</script>
<script type="text/html" id="_cpalls_ItemResult_9">
    <!--Direction:9-->
</script>



<script type="text/html" id="_cpalls_ItemHeader_3">
    <div class="header-th">
        <div class="prefix" style="width:50px"></div>
        <div class="text" style="">
            <span>Prompt</span>
        </div>
        <div class="img" style="width:30%;" data-bind="css: { 'hidden': $root.includeImages() === false }">
            <span>Image</span>
        </div>
        <div class="img img-4" style="width:12%;" data-bind="css: { 'hidden': $root.includeImages() === false }">
            <span>Response</span>
        </div>
        <div class="score" style="width:80px;">
            <span>Score</span>
        </div>
    </div>
</script>
<script type="text/html" id="_cpalls_ItemResult_3">
    <!--MultipleChoices:3-->
    <!-- ko if:item.showInResultPage() -->
    <!-- ko template: {name:$root.getHeaderTemplate.bind($parent)}-->
    <!--/ko-->
    <div data-bind="visible: item.showInResultPage" class="hideOrder  ">
        <!-- ko if:$parent.isTxkea-->
        <div class="prefix" style="width:50px"><span data-bind="html: resultIndex + '.'"></span></div>
        <!--/ko-->
        <!-- ko ifnot:$parent.isTxkea-->
        <div class="prefix" style="width:50px"><span data-bind="html: resultIndex + '.'"></span></div>
        <!--/ko-->
        <div class="text" style="">
            <span data-bind="html: target.text"></span>
        </div>
        <div class="img" style="width:30%;" data-bind="css: { 'hidden': $root.includeImages() === false }">
            <div data-bind="foreach: { data: answers, as: 'answer' }" style="display: table-cell;vertical-align: middle;">
                <!--ko if: picture.file -->
                <div class="thumbnail">
                    <img data-bind="attr: { src: picture.fullImgUrl }" alt="Multiple Choices">
                </div>
                <!--/ko-->
            </div>
        </div>
        <div class="img img-4" style="width:12%;" data-bind="css: { 'hidden': $root.includeImages() === false }">
            <div data-bind="foreach: { data: answers, as: 'answer' }" style="display: table-cell;vertical-align: middle;">
                <!--ko if: choosed() && picture.file -->
                <div class="thumbnail">
                    <img data-bind="attr: { src: picture.fullImgUrl }" alt="Multiple Choices">
                </div>
                <!--/ko-->
            </div>
        </div>
        <div class="score" style="width:80px;">
            <span data-bind="html: goal()"></span>
        </div>
    </div>
    <!--/ko-->
</script>

<script type="text/html" id="_cpalls_ItemHeader_4">
    <div class="header-th">
        <div class="prefix " style="width:50px;"></div>
        <div class="text " style="">
            <span>Prompt</span>
        </div>
        <div class="item" style="width:42%;">
            <span>Item</span>
        </div>
        <div class="score " style="width:80px;">
            <span>Score</span>
        </div>
    </div>
</script>
<script type="text/html" id="_cpalls_ItemResult_4">
    <!--Pa:4-->
    <!-- ko if:item.showInResultPage() -->
    <!-- ko template: {name:$root.getHeaderTemplate.bind($parent)}-->
    <!--/ko-->
    <div data-bind="visible: item.showInResultPage" class="hideOrder  ">
        <!-- ko if:$parent.isTxkea-->
        <div class="prefix " style="width:50px;"><span data-bind="html: resultIndex + '.'"></span></div>
        <!--/ko-->
        <!-- ko ifnot:$parent.isTxkea-->
        <div class="prefix " style="width:50px;"><span data-bind="html: resultIndex + '.'"></span></div>
        <!--/ko-->
        <div class="text " style="">
            <span data-bind="html: target.text"></span>
        </div>

        <div class="item " style="width:42%;" data-bind="foreach: { data: answers, as: 'answer' }">
            <!-- ko if:choosed()-->
            <div data-bind="html: text.text" style="width: 99%"></div>
            <!--/ko-->
        </div>
        <div class="score " style="width:80px;">
            <span data-bind="html: goal()"></span>
        </div>
    </div>
    <!--/ko-->
</script>

<script type="text/html" id="_cpalls_ItemHeader_5">
    <div class="header-th">
        <div class="prefix " style="width:50px;"></div>
        <div class="text " style="">
            <span>Prompt</span>
        </div>
        <div class="img " style="width:30%;" data-bind="css: { 'hidden': $root.includeImages() === false }">
            <span>Image</span>
        </div>
        <div class="img img-vertical " style="width:12%;" data-bind="css: { 'hidden': $root.includeImages() === false }">
            <span>Response</span>
        </div>
        <div class="score " style="width:80px;">
            <span>Score</span>
        </div>
    </div>
</script>
<script type="text/html" id="_cpalls_ItemResult_5">
    <!--Quadrant:5-->
    <!-- ko if:item.showInResultPage() -->
    <!-- ko template: {name:$root.getHeaderTemplate.bind($parent)}-->
    <!--/ko-->
    <div data-bind="visible: item.showInResultPage" class="hideOrder ">
        <!-- ko if:$parent.isTxkea-->
        <div class="prefix " style="width:50px;"><span data-bind="html: resultIndex + '.'"></span></div>
        <!--/ko-->
        <!-- ko ifnot:$parent.isTxkea-->
        <div class="prefix " style="width:50px;"><span data-bind="html: resultIndex + '.'"></span></div>
        <!--/ko-->
        <div class="text " style="">
            <span data-bind="html: target.text"></span>
        </div>
        <div class="img " style="width:30%;" data-bind="css: { 'hidden': $root.includeImages() === false }">
            <div data-bind="foreach: { data: answers, as: 'answer' }" style="display: table-cell;vertical-align: middle;">
                <div class="thumbnail">
                    <img data-bind="attr: { src: picture.fullImgUrl }" alt="Receptive without prompt" />
                </div>
            </div>
        </div>
        <div class="img img-vertical " style="width:12%;" data-bind="css: { 'hidden': $root.includeImages() === false }">
            <div data-bind="foreach: { data: answers, as: 'answer' }" style="display: table-cell;vertical-align: middle;">
                <!-- ko if: choosed()-->
                <div class="thumbnail">
                    <img data-bind="attr: { src: picture.fullImgUrl }" alt="Receptive without prompt" />
                </div>
                <!--/ko-->
            </div>
        </div>
        <div class="score " style="width:80px;">
            <span data-bind="html: goal()"></span>
        </div>
    </div>
    <!--/ko-->

</script>

<script type="text/html" id="_cpalls_ItemHeader_6">
    <div class="header-th">
        <div class="prefix " style="width:50px"></div>
        <div class="text " style="">
            <span>Item</span>
        </div>
        <div class="img img-vertical " style="width:42%;" data-bind="css: { 'hidden': $root.includeImages() === false }">
            <span>Image</span>
        </div>
        <div class="score " style="width:80px;">
            <span>Score</span>
        </div>
    </div>
</script>
<script type="text/html" id="_cpalls_ItemResult_6">
    <!--Rapid Expressive:6-->
    <!-- ko if:item.showInResultPage() -->
    <!-- ko template: {name:$root.getHeaderTemplate.bind($parent)}-->
    <!--/ko-->
    <div data-bind="visible: item.showInResultPage" class="hideOrder ">
        <!-- ko if:$parent.isTxkea-->
        <div class="prefix " style="width:50px;"><span data-bind="html: resultIndex + '.'"></span></div>
        <!--/ko-->
        <!-- ko ifnot:$parent.isTxkea-->
        <div class="prefix " style="width:50px;"><span data-bind="html: resultIndex + '.'"></span></div>
        <!--/ko-->
        <div class="text " style="">
            <span data-bind="html: description"></span>
        </div>
        <div class="img img-vertical " data-bind="css: { 'hidden': $root.includeImages() === false }" style="width:42%;">
            <div style="display: table-cell;vertical-align: middle;">
                <!-- ko if:answers != null && answers.length > 0 -->
                <div class="thumbnail">
                    <img data-bind="attr: { src: answers[0].picture.fullImgUrl }" alt="Rapid Expressive">
                </div>
                <!-- /ko -->
            </div>
        </div>
        <div class="score " style="width:80px;">
            <span data-bind="html: goal()"></span>
        </div>
    </div>
    <!--/ko-->
</script>

<script type="text/html" id="_cpalls_ItemHeader_7">
    <div class="header-th">
        <div class="prefix " style="width:50px;"></div>
        <div class="text " style="">
            <span>Prompt</span>
        </div>
        <div class="img img-vertical " style="width:12%;" data-bind="css: { 'hidden': $root.includeImages() === false }">
            <span>Prompt Image</span>
        </div>
        <div class="img " style="width:30%;" data-bind="css: { 'hidden': $root.includeImages() === false }">
            <span>Image</span>
        </div>
        <div class="img img-vertical " style="width:12%;" data-bind="css: { 'hidden': $root.includeImages() === false }">
            <span>Response</span>
        </div>
        <div class="score " style="width:80px;">
            <span>Score</span>
        </div>
    </div>
</script>
<script type="text/html" id="_cpalls_ItemResult_7">
    <!--Receptive without prompt:7-->
    <!-- ko if:item.showInResultPage() -->
    <!-- ko template: {name:$root.getHeaderTemplate.bind($parent)}-->
    <!--/ko-->
    <div data-bind="visible: item.showInResultPage" class="hideOrder ">
        <!-- ko if:$parent.isTxkea-->
        <div class="prefix " style="width:50px;"><span data-bind="html: resultIndex + '.'"></span></div>
        <!--/ko-->
        <!-- ko ifnot:$parent.isTxkea-->
        <div class="prefix " style="width:50px;"><span data-bind="html: resultIndex + '.'"></span></div>
        <!--/ko-->
        <div class="text " style="">
            <span data-bind="html: target.text"></span>
        </div>
        <div class="img img-vertical " style="width:12%;" data-bind="css: { 'hidden': $root.includeImages() === false }">

        </div>
        <div class="img " style="width:30%;" data-bind="css: { 'hidden': $root.includeImages() === false }">
            <div data-bind="foreach: { data: answers, as: 'answer' }" style="display: table-cell;vertical-align: middle;">
                <div class="thumbnail">
                    <img data-bind="attr: { src: picture.fullImgUrl }" alt="Receptive without prompt" />
                </div>
            </div>
        </div>
        <div class="img img-vertical " style="width:12%;" data-bind="css: { 'hidden': $root.includeImages() === false }">
            <div data-bind="foreach: { data: answers, as: 'answer' }" style="display: table-cell;vertical-align: middle;">
                <!-- ko if: choosed()-->
                <div class="thumbnail">
                    <img data-bind="attr: { src: picture.fullImgUrl }" alt="Receptive without prompt" />
                </div>
                <!--/ko-->
            </div>
        </div>
        <div class="score " style="width:80px;">
            <span data-bind="html: goal()"></span>
        </div>
    </div>
    <!--/ko-->
</script>

<script type="text/html" id="_cpalls_ItemHeader_8">
    <div class="header-th">
        <div class="prefix " style="width:50px;"></div>
        <div class="text " style="">
            <span>Prompt</span>
        </div>
        <div class="img img-vertical " style="width:12%;" data-bind="css: { 'hidden': $root.includeImages() === false }">
            <span>Prompt Image</span>
        </div>
        <div class="img " style="width:30%;" data-bind="css: { 'hidden': $root.includeImages() === false }">
            <span>Image</span>
        </div>
        <div class="img img-vertical " style="width:12%;" data-bind="css: { 'hidden': $root.includeImages() === false }">
            <span>Response</span>
        </div>
        <div class="score " style="width:80px;">
            <span>Score</span>
        </div>
    </div>
</script>
<script type="text/html" id="_cpalls_ItemResult_8">
    <!--Receptive with prompt:8-->
    <!-- ko if:item.showInResultPage() -->
    <!-- ko template: {name:$root.getHeaderTemplate.bind($parent)}-->
    <!--/ko-->
    <div data-bind="visible: item.showInResultPage" class="hideOrder ">
        <!-- ko if:$parent.isTxkea-->
        <div class="prefix " style="width:50px;"><span data-bind="html: resultIndex + '.'"></span></div>
        <!--/ko-->
        <!-- ko ifnot:$parent.isTxkea-->
        <div class="prefix " style="width:50px;"><span data-bind="html: resultIndex + '.'"></span></div>
        <!--/ko-->
        <div class="text " style="">
            <span data-bind="html: target.text"></span>
        </div>
        <div class="img img-vertical " style="width:12%;" data-bind="css: { 'hidden': $root.includeImages() === false }">
            <div style="display: table-cell;vertical-align: middle;">
                <div class="thumbnail">
                    <img data-bind="attr: { src: prompt.picture.fullImgUrl }" alt="Receptive without prompt">
                </div>
            </div>
        </div>
        <div class="img " style="width:30%;" data-bind="css: { 'hidden': $root.includeImages() === false }">
            <div data-bind="foreach: { data: answers, as: 'answer' }" style="display: table-cell;vertical-align: middle;">
                <div class="thumbnail">
                    <img data-bind="attr: { src: picture.fullImgUrl }" alt="Receptive without prompt" />
                </div>
            </div>
        </div>
        <div class="img img-vertical " style="width:12%;" data-bind="css: { 'hidden': $root.includeImages() === false }">
            <div data-bind="foreach: { data: answers, as: 'answer' }" style="display: table-cell;vertical-align: middle;">
                <!-- ko if: choosed()-->
                <div class="thumbnail">
                    <img data-bind="attr: { src: picture.fullImgUrl }" alt="Receptive without prompt">
                </div>
                <!--/ko-->
            </div>
        </div>
        <div class="score " style="width:80px;">
            <span data-bind="html: goal()"></span>
        </div>
    </div>
    <!--/ko-->
</script>

<script type="text/html" id="_cpalls_ItemHeader_11">
    <div class="header-th">
        <div class="prefix " style="width:50px;"></div>
        <div class="text " style="">
            <span>Prompt</span>
        </div>
        <div class="img img-vertical " style="width:30%;" data-bind="css: { 'hidden': $root.includeImages() === false }">
            <span>Image</span>
        </div>
        <div class="img " style="width:12%;">
            <span>Response</span>
        </div>
        <div class="score " style="width:80px;">
            <span>Score</span>
        </div>
    </div>
</script>
<script type="text/html" id="_cpalls_ItemResult_11">
    <!--TypedResposne:11-->
    <!-- ko if:item.showInResultPage() -->
    <!-- ko template: {name:$root.getHeaderTemplate.bind($parent)}-->
    <!--/ko-->
    <div data-bind="visible: item.showInResultPage" class="hideOrder ">
        <!-- ko if:$parent.isTxkea-->
        <div class="prefix " style="width:50px;"><span data-bind="html: resultIndex + '.'"></span></div>
        <!--/ko-->
        <!-- ko ifnot:$parent.isTxkea-->
        <div class="prefix" style="width:50px;">
            <span class="" data-bind="html: resultIndex + '.'"></span>
        </div>
        <!--/ko-->
        <div class="text " style="">
            <span data-bind="html: target.text"></span>
        </div>
        <div class="img img-vertical " data-bind="css: { 'hidden': $root.includeImages() === false }" style="width:30%;">
            <div style="display: table-cell;vertical-align: middle;">
                <!-- ko foreach:{data:answers,as:'answer'}-->
                <!--ko if:picture.file-->
                <div class="thumbnail" data-bind="html: picture.html"></div>
                <!--/ko-->
                <!--/ko-->
            </div>
        </div>
        <div class="img " style="width:12%;">
        </div>
        <div class="score " style="width:80px;">
            <span data-bind="html: goal()"></span>
        </div>
    </div>

    <!-- ko foreach:{data:responses,as:'response'}-->
    <div class="hideOrder" data-bind="visible: item.showInResultPage">
        <div class="prefix " style="width:50px;">
            <span data-bind="html: item.resultIndex + '.'+($index()+1)"></span>
        </div>
        <div class="text " style="">
            <span data-bind="html: text"></span>
        </div>
        <div class="img img-vertical " data-bind="css: { 'hidden': $root.includeImages() === false }" style="width:30%;">
            <div style="display: table-cell;vertical-align: middle;">
                <!--ko if:picture-->
                <div class="thumbnail" data-bind="html: html"></div>
                <!--/ko-->
            </div>
        </div>
        <div class="img " style="width:12%;">
            <span data-bind="html: content() "></span>
        </div>
        <div class="score " style="width:80px;">
            <span data-bind="html: getGoal()"></span>
        </div>
    </div>
    <!--/ko-->
    <div class=" header-th" data-bind="visible: item.showInResultPage">
        <div class="" style="width:50px;">

        </div>
        <div class="text " style="">

        </div>
        @*<div class="text "  style="width:50%;">
            </div>*@
        <div class="img " style="width:42%;">
            <strong style="margin-left: auto;">Item Score: </strong>
        </div>
        <div class="score " style="width:80px;">
            <span data-bind="html: goal()"></span>
        </div>
    </div>
    <!--/ko-->
</script>
<!-- responseResultTemplate: maybe one of these below:-->
<script type="text/html" id="_cpalls_ItemResult_11_Response">
    <div class="item-response" data-bind="">
        <div style="display: table-cell;vertical-align: middle;">
            <div class="item-response-img thumbnail" data-bind="html: html">
            </div>
        </div>
        <div class="item-response-text">
            <div class="item-response-label">
                <label data-bind="attr: { 'for': uuid }, html: text"></label>
            </div>
            <div class="item-response-input">
                <input type="text" data-bind="attr: { id: uuid, readonly: true, value: content() }, enable: false" />
                <!-- ko if:getGoal() -->
                <span data-bind="html: 'Score: ' + getGoal()"></span>
                <!--/ko-->
            </div>
        </div>
    </div>
</script>


<script type="text/html" id="_cpalls_ItemHeader_12">
    <div class="header-th">
        <div class="prefix " style="width:50px;"></div>
        <div class="text " style="">
            <span>Question Instruction</span>
        </div>
        <div class="img " style="width:30%;" data-bind="css: { 'hidden': $root.includeImages() === false }">
            <span>Image</span>
        </div>
        <div class="img img-4 " style="width:12%;" data-bind="css: { 'hidden': $root.includeImages() === false }">
            <span>Response</span>
        </div>
        <div class="score " style="width:80px;">
            <span>Score</span>
        </div>
    </div>
</script>
<script type="text/html" id="_cpalls_ItemResult_12">
    <!--TxKeaReceptive:12-->
    <!-- ko if:item.showInResultPage() -->
    <!-- ko template: {name:$root.getHeaderTemplate.bind($parent)}-->
    <!--/ko-->
    <div class="hideOrder">
        <!-- ko if:$parent.isTxkea-->
        <div class="prefix " style="width:50px;"><span data-bind="html: resultIndex + '.'"></span></div>
        <!--/ko-->
        <!-- ko ifnot:$parent.isTxkea-->
        <div class="prefix " style="width:50px;"><span data-bind="html: resultIndex + '.'"></span></div>
        <!--/ko-->
        <div class="text " style="">
            <span data-bind="html: target.text"></span>
        </div>
        <div class="img " style="width:30%;" data-bind="css: { 'hidden': $root.includeImages() === false }">
            <div data-bind="foreach: { data: answers.sort(function(a,b){return a.id-b.id}), as: 'answer' }" style="display: table-cell;vertical-align: middle;">
                <!--ko if: picture.file -->
                <div class="thumbnail">
                    <img data-bind="attr: { src: picture.fullImgUrl }" alt="TX-KEA Receptive" class="txkeaImageItem">
                </div>
                <!--/ko-->
            </div>
        </div>
        <!--ko if: selectionType === Txkea_SelectionType.MultiSelect -->
        <div class="img img-4 " style="width:12%;" data-bind="css: { 'hidden': $root.includeImages() === false }">
            <div data-bind="foreach: { data: selectedDetailedAnswers, as: 'answer' }" style="display: table-cell;vertical-align: middle;">
                <div class="thumbnail">
                    <img data-bind="attr: { src: src }" alt="TX-KEA Receptive" class="txkeaImageItem">
                </div>
            </div>
        </div>
        <!--/ko-->
        <!--ko if: selectionType === Txkea_SelectionType.SingleSelect -->
        <div class="img img-4 " style="width:12%;" data-bind="css: { 'hidden': $root.includeImages() === false }">
            <div data-bind="foreach: { data: answers, as: 'answer' }" style="display: table-cell;vertical-align: middle;">
                <!--ko if: choosed() && picture.file -->
                <div class="thumbnail">
                    <img data-bind="attr: { src: picture.fullImgUrl }" alt="TX-KEA Receptive" class="txkeaImageItem">
                </div>
                <!--/ko-->
            </div>
        </div>
        <!--/ko-->
        <div class="score " style="width:80px;">
            <span data-bind="html: goal()"></span>
        </div>
    </div>
    <!--/ko-->
</script>


<script type="text/html" id="_cpalls_ItemHeader_13">
    <div class="header-th">
        <div class="prefix " style="width:50px;"></div>
        <div class="text " style="">
            <span>Question Instruction</span>
        </div>
        <div class="img " style="width:30%;" data-bind="css: { 'hidden': $root.includeImages() === false }">
            <span>Image</span>
        </div>
        <div class="img img-4" style="width:12%;">
            <span>Response</span>
        </div>
        <div class="score " style="width:80px;">
            <span>Score</span>
        </div>
    </div>
</script>


<script type="text/html" id="_cpalls_ItemResult_13">
    <!--TX-KEA Expressive:13-->
    <!-- ko if:item.showInResultPage() -->
    <!-- ko template: {name:$root.getHeaderTemplate.bind($parent)}-->
    <!--/ko-->
    <div class="hideOrder ">
        <!-- ko if:$parent.isTxkea-->
        <div class="prefix " style="width:50px;"><span data-bind="html: resultIndex + '.'"></span></div>
        <!--/ko-->
        <!-- ko ifnot:$parent.isTxkea-->
        <div class="prefix " style="width:50px;"><span data-bind="html: resultIndex + '.'"></span></div>
        <!--/ko-->
        <div class="text " style="">
            <span data-bind="html: instructionText"></span>
        </div>
        <div class="img " style="width:30%;" data-bind="css: { 'hidden': $root.includeImages() === false }">
            <div data-bind="foreach: { data: itemLayout.ImageList.filter(function(obj){return obj.src}), as: 'image' }" style="display: table-cell;vertical-align: middle;">
                <div class="thumbnail">
                    <img data-bind="attr: { src: src }" alt="TX-KEA Expressive" class="txkeaImageItem">
                </div>
            </div>
        </div>
        <!-- ko if:responseType == 1  -->
        <div class="img img-4 " style="width:12%;">
            <p data-bind="text: isCorrect() ? 'Correct' : 'Incorrect'"></p>
        </div>
        <!--/ko-->
        <!-- ko if:responseType == 2  -->
        <!-- ko if:responses()[0].Type == 1 -->
        <div class="img img-4 " style="width:12%;">
            <p data-bind="text: responses()[0].content()"></p>
        </div>
        <!--/ko-->
        <!-- ko if:responses()[0].Type != 1 -->
        <div class="img img-4 " style="width:12%;" data-bind="foreach: { data: responses()[0].Options(), as: 'answer' }">
            <!--ko if: IsCorrect() -->
            <p data-bind="text: Lable + '&nbsp;&nbsp;' + otherText() "></p>
            <!--/ko-->
        </div>
        <!--/ko-->
        <!--/ko-->
        <div class="score " style="width:80px;">
            <span data-bind="html: goal()"></span>
        </div>
    </div>
    <!--/ko-->
</script>



<script type="text/html" id="_cpalls_ItemResult_11_Response_1">
    <div class="item-responses" data-bind="foreach: { data: responses, as: 'response' }">
        <!-- ko template:{name:'_cpalls_ItemResult_11_Response',data:response}-->
        <!--/ko-->
    </div>
</script>
<script type="text/html" id="_cpalls_ItemResult_11_Response_2">
    <div class="item-responses " data-bind="foreach: { data: responses, as: 'response' }">
        <!-- ko template:{name:'_cpalls_ItemResult_11_Response',data:response}-->
        <!--/ko-->
    </div>
</script>
<script type="text/html" id="_cpalls_ItemResult_11_Response_3">
    <div class="item-responses " data-bind="foreach: { data: responses, as: 'response' }">
        <!-- ko template:{name:'_cpalls_ItemResult_11_Response',data:response}-->
        <!--/ko-->
    </div>
</script>
<script type="text/html" id="_cpalls_ItemResult_11_Response_4">
    <div class="item-responses " data-bind="foreach: { data: responses, as: 'response' }">
        <!-- ko template:{name:'_cpalls_ItemResult_11_Response',data:response}-->
        <!--/ko-->
    </div>
</script>
<script type="text/html" id="_cpalls_ItemResult_11_Response_5">
    <div class="item-responses" data-bind="foreach: { data: responses, as: 'response' }">
        <!-- ko template:{name:'_cpalls_ItemResult_11_Response',data:response}-->
        <!--/ko-->
    </div>
</script>
<script type="text/html" id="_cpalls_ItemResult_11_Response_6">
    <div class="item-responses" data-bind="foreach: { data: responses, as: 'response' }">
        <!-- ko template:{name:'_cpalls_ItemResult_11_Response',data:response}-->
        <!--/ko-->
    </div>
</script>
<script type="text/html" id="_cpalls_ItemResult_11_Response_7">
    <div class="item-responses" data-bind="foreach: { data: responses, as: 'response' }">
        <!-- ko template:{name:'_cpalls_ItemResult_11_Response',data:response}-->
        <!--/ko-->
    </div>
</script>
<script type="text/html" id="_cpalls_ItemResult_11_Response_8">
    <div class="item-responses" data-bind="foreach: { data: responses, as: 'response' }">
        <!-- ko template:{name:'_cpalls_ItemResult_11_Response',data:response}-->
        <!--/ko-->
    </div>
</script>
<script type="text/html" id="_cpalls_ItemResult_11_Response_9">
    <div class="item-responses" data-bind="foreach: { data: responses, as: 'response' }">
        <!-- ko template:{name:'_cpalls_ItemResult_11_Response',data:response}-->
        <!--/ko-->
    </div>
</script>
