<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <appSettings>
    <add key="path" value="F:\TFS\SunNet.CLI\Code\Sunnet.Cli.MainSite\resource\XLSX\Community_Template.xlsx"/>
  </appSettings>
</configuration>
